<%= content_for(:title, '山を探す') %>

<div class='mountain_index'>
  <div class='free_word'>
    <%= search_form_for @q, url: search_mountains_path do |f| %>
      <%= f.search_field :mountain_name_or_address_or_time_or_elevation_or_station_or_season_or_parking_or_distance_or_area_or_furigana_cont, class: 'form-control search_keyword', placeholder: 'キーワードで検索' %>
    <% end %>
  </div>

  <hr class='featurette-divider'>

  <h1>都道府県一覧から探す</h1>
  <div class='area'>
    <div class='area_table'>
      <table>
        <tbody>
          <tr>
            <th><%= link_to '北海道', search_mountains_path(q:{area_cont:'北海道'}), class: 'mountain_link' %></th>
            <td><%= link_to '北海道', search_mountains_path(q:{address_cont:'北海道'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '東北', search_mountains_path(q:{area_cont:'東北'}), class: 'mountain_link' %></th>
            <td><%= link_to '青森', search_mountains_path(q:{address_cont:'青森'}), class: 'mountain_link' %></td>
            <td><%= link_to '岩手', search_mountains_path(q:{address_cont:'岩手'}), class: 'mountain_link' %></td>
            <td><%= link_to '秋田', search_mountains_path(q:{address_cont:'秋田'}), class: 'mountain_link' %></td>
            <td><%= link_to '宮城', search_mountains_path(q:{address_cont:'宮城'}), class: 'mountain_link' %></td>
            <td><%= link_to '山形', search_mountains_path(q:{address_cont:'山形'}), class: 'mountain_link' %></td>
            <td><%= link_to '福島', search_mountains_path(q:{address_cont:'福島'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '関東', search_mountains_path(q:{area_cont:'関東'}), class: 'mountain_link' %></th>
            <td><%= link_to '茨城', search_mountains_path(q:{address_cont:'茨城'}), class: 'mountain_link' %></td>
            <td><%= link_to '栃木', search_mountains_path(q:{address_cont:'栃木'}), class: 'mountain_link' %></td>
            <td><%= link_to '群馬', search_mountains_path(q:{address_cont:'群馬'}), class: 'mountain_link' %></td>
            <td><%= link_to '埼玉', search_mountains_path(q:{address_cont:'埼玉'}), class: 'mountain_link' %></td>
            <td><%= link_to '千葉', search_mountains_path(q:{address_cont:'千葉'}), class: 'mountain_link' %></td>
            <td><%= link_to '東京', search_mountains_path(q:{address_cont:'東京'}), class: 'mountain_link' %></td>
            <td><%= link_to '神奈川', search_mountains_path(q:{address_cont:'神奈川'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '甲信越', search_mountains_path(q:{area_cont:'甲信越'}), class: 'mountain_link' %></th>
            <td><%= link_to '新潟', search_mountains_path(q:{address_cont:'新潟'}), class: 'mountain_link' %></td>
            <td><%= link_to '長野', search_mountains_path(q:{address_cont:'長野'}), class: 'mountain_link' %></td>
            <td><%= link_to '山梨', search_mountains_path(q:{address_cont:'山梨'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '東海', search_mountains_path(q:{area_cont:'東海'}), class: 'mountain_link' %></th>
            <td><%= link_to '静岡', search_mountains_path(q:{address_cont:'静岡'}), class: 'mountain_link' %></td>
            <td><%= link_to '愛知', search_mountains_path(q:{address_cont:'愛知'}), class: 'mountain_link' %></td>
            <td><%= link_to '岐阜', search_mountains_path(q:{address_cont:'岐阜'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '北陸', search_mountains_path(q:{area_cont:'北陸'}), class: 'mountain_link' %></th>
            <td><%= link_to '富山', search_mountains_path(q:{address_cont:'富山'}), class: 'mountain_link' %></td>
            <td><%= link_to '石川', search_mountains_path(q:{address_cont:'石川'}), class: 'mountain_link' %></td>
            <td><%= link_to '福井', search_mountains_path(q:{address_cont:'福井'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '近畿', search_mountains_path(q:{area_cont:'近畿'}), class: 'mountain_link' %></th>
            <td><%= link_to '三重', search_mountains_path(q:{address_cont:'三重'}), class: 'mountain_link' %></td>
            <td><%= link_to '滋賀', search_mountains_path(q:{address_cont:'滋賀'}), class: 'mountain_link' %></td>
            <td><%= link_to '奈良', search_mountains_path(q:{address_cont:'奈良'}), class: 'mountain_link' %></td>
            <td><%= link_to '京都', search_mountains_path(q:{address_cont:'京都'}), class: 'mountain_link' %></td>
            <td><%= link_to '大阪', search_mountains_path(q:{address_cont:'大阪'}), class: 'mountain_link' %></td>
            <td><%= link_to '和歌山', search_mountains_path(q:{address_cont:'和歌山'}), class: 'mountain_link' %></td>
            <td><%= link_to '兵庫', search_mountains_path(q:{address_cont:'兵庫'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '中国', search_mountains_path(q:{area_cont:'中国'}), class: 'mountain_link' %></th>
            <td><%= link_to '鳥取', search_mountains_path(q:{address_cont:'鳥取'}), class: 'mountain_link' %></td>
            <td><%= link_to '岡山', search_mountains_path(q:{address_cont:'岡山'}), class: 'mountain_link' %></td>
            <td><%= link_to '島根', search_mountains_path(q:{address_cont:'島根'}), class: 'mountain_link' %></td>
            <td><%= link_to '広島', search_mountains_path(q:{address_cont:'広島'}), class: 'mountain_link' %></td>
            <td><%= link_to '山口', search_mountains_path(q:{address_cont:'山口'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '四国', search_mountains_path(q:{area_cont:'四国'}), class: 'mountain_link' %></th>
            <td><%= link_to '香川', search_mountains_path(q:{address_cont:'香川'}), class: 'mountain_link' %></td>
            <td><%= link_to '徳島', search_mountains_path(q:{address_cont:'徳島'}), class: 'mountain_link' %></td>
            <td><%= link_to '愛媛', search_mountains_path(q:{address_cont:'愛媛'}), class: 'mountain_link' %></td>
            <td><%= link_to '高知', search_mountains_path(q:{address_cont:'高知'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '九州', search_mountains_path(q:{area_cont:'九州'}), class: 'mountain_link' %></th>
            <td><%= link_to '福岡', search_mountains_path(q:{address_cont:'福岡'}), class: 'mountain_link' %></td>
            <td><%= link_to '長崎', search_mountains_path(q:{address_cont:'長崎'}), class: 'mountain_link' %></td>
            <td><%= link_to '佐賀', search_mountains_path(q:{address_cont:'佐賀'}), class: 'mountain_link' %></td>
            <td><%= link_to '大分', search_mountains_path(q:{address_cont:'大分'}), class: 'mountain_link' %></td>
            <td><%= link_to '熊本', search_mountains_path(q:{address_cont:'熊本'}), class: 'mountain_link' %></td>
            <td><%= link_to '宮崎', search_mountains_path(q:{address_cont:'宮崎'}), class: 'mountain_link' %></td>
            <td><%= link_to '鹿児島', search_mountains_path(q:{address_cont:'鹿児島'}), class: 'mountain_link' %></td>
          </tr>
          <tr>
            <th><%= link_to '沖縄', search_mountains_path(q:{area_cont:'沖縄'}), class: 'mountain_link' %></th>
            <td><%= link_to '沖縄', search_mountains_path(q:{address_cont:'沖縄'}), class: 'mountain_link' %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='area_map'>
      <%= image_pack_tag 'japan_map.png', width: '100%', class: '' %>
      <%= link_to '北海道', search_mountains_path(q:{area_cont:'北海道'}), class: 'area_link hokkaido' %>
      <%= link_to '東北', search_mountains_path(q:{area_cont:'東北'}), class: 'area_link tohoku' %>
      <%= link_to '関東', search_mountains_path(q:{area_cont:'関東'}), class: 'area_link kanto' %>
      <%= link_to '甲信越', search_mountains_path(q:{area_cont:'甲信越'}), class: 'area_link koshinetsu' %>
      <%= link_to '東海', search_mountains_path(q:{area_cont:'東海'}), class: 'area_link tokai' %>
      <%= link_to '北陸', search_mountains_path(q:{area_cont:'北陸'}), class: 'area_link hokuriku' %>
      <%= link_to '近畿', search_mountains_path(q:{area_cont:'近畿'}), class: 'area_link kinki' %>
      <%= link_to '中国', search_mountains_path(q:{area_cont:'中国'}), class: 'area_link tyugoku' %>
      <%= link_to '四国', search_mountains_path(q:{area_cont:'四国'}), class: 'area_link shikoku' %>
      <%= link_to '九州', search_mountains_path(q:{area_cont:'九州'}), class: 'area_link kyusyu' %>
      <%= link_to '沖縄', search_mountains_path(q:{area_cont:'沖縄'}), class: 'area_link okinawa' %>
    </div>
  </div>
</div>
