<div class="search"> 
  <h1><%= @search_word %>の山一覧</h1>
  <p><%= @results.count %>件</p>
  <div class="search_base" >
    <% @results.each do |results| %>
      <div class="search_index_view">
        <%= link_to results do %>
          <div class = "search_room_img" >
            <%= image_tag results.mountain_image_url if results.mountain_image.present? %>
          </div>
          <div class="search_room">
            <h2 class="search_room_name"><%= results.mountain_name %></h2>
            <%= results.address %>
            <div class="star">
              <% if results.difficulty? %>
                <% for i in 1..results.difficulty do %>
                  ★
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
