<%= content_for(:title, @mountain.mountain_name) %>

<div class='' >
  <% if @mountain.mountain_image.present? %>
    <%= image_tag @mountain.mountain_image.url, class: 'mountain_img' %>
  <% else %>
    <%= image_tag "/assets/room.jpg", class: "room_img" %>
  <% end %>
  
  <div class='mountain_content'>
    <p><%= @mountain.mountain_name %></p>
    <p>総歩行時間：<%= @mountain.time %></p>
    <p>標高：<%= @mountain.elevation %>m</p>

    難易度：
    <div class="star">
      <% if @mountain.difficulty? %>
        <% for i in 1..@mountain.difficulty do %>
          ★
        <% end %>
      <% end %>
    </div>

    <p>最寄駅：<%= @mountain.station %></p>
    <p>最適シーズン：<%= @mountain.season %></p>
    <p>駐車場情報：<%= @mountain.parking %></p>
    <p>歩行距離：<%= @mountain.distance %>km</p>
  </div>

  <div class='google_map'>
    <p>所在地</p>
  </div>

  <div class='mountain_comment'>
    <h4 class='comment_font'>口コミ一覧</h4>
    <% @comments.each do |comments| %>
      <div class='comments'>
        <li>
          <p>タイトル：<%= comments.title %></p>
          <p class='content'>内容：<%= comments.content %></p>
        </li>
      </div>
    <% end %>

    <div class='comment_new'>
      <h4 class='comment_font'>口コミを投稿する</h4>
      <%= form_with model:[@mountain, @comment] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :mountain_id, value: @mountain.id %>
        <div class='mb-3 row'>
          <%= f.label :title, "タイトル", class: 'col-sm-2 col-form-label required' %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>
        <div class='mb-3 row'>
          <%= f.label :content, "口コミ内容", class: 'col-sm-2 col-form-label required' %>
          <%= f.text_field :content, autofocus: true, class: 'form-control' %>
        </div>
        <%= f.submit "口コミを投稿する", class: 'w-100 btn btn-lg btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
