<%= content_for(:title, @mountain.mountain_name) %>

<div>
  <% if @mountain.mountain_image.present? %>
    <%= image_pack_tag @mountain.mountain_image.url, class: 'mountain_img' %>
  <% else %>
    <%= image_pack_tag '/assets/yama_default.jpg', class: 'mountain_img' %>
  <% end %>
  
  <div class='mountain_content'>
    <p class='mountain_name'><%= @mountain.mountain_name %></p>
    <p>読み方：<%= @mountain.furigana %></p>
    <p>総歩行時間：<%= @mountain.time %></p>
    <p>標高：<%= @mountain.elevation %>m</p>

    <div class='star show_star'>
      <font color='black'>難易度：</font>
      <% if @mountain.difficulty? %>
        <% for i in 1..@mountain.difficulty do %>
          ★
        <% end %>
      <% end %>
    </div>

    <p>最寄駅：<%= @mountain.station %></p>
    <p>最適シーズン：<%= @mountain.season %></p>
    <p>駐車場情報：<%= @mountain.parking %></p>
    <p>歩行距離：<%= @mountain.distance %>km</p>
  </div>

  <div class ='google_map'>
    <h4 class='comment_font'>マップ</h4>
    <div class='map-wrap'>
      <div id='map' class='map'></div>
    </div>
  </div>

  <div class='mountain_comment'>
    <h4 class='comment_font'>口コミ一覧</h4>
    <% @comments.each do |comments| %>
      <div class='comments'>
        <li>
          <p>タイトル：<%= comments.title %></p>
          <p>内容：<%= comments.content %></p>
          <p class='comment_user'>投稿者：<%= comments.user.name %></p>
        </li>
      </div>
    <% end %>

    <div class='comment_new'>
      <h4 class='comment_font'>口コミを投稿する</h4>
      <font color='red'>*</font>は入力必須です。
      <div class='comment_create'>
        <%= form_with model:[@mountain, @comment] do |f| %>
          <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% end %>
          <%= f.hidden_field :mountain_id, value: @mountain.id %>
          <div class='mb-3 row'>
            <%= f.label :title, 'タイトル', class: 'col-sm-2 col-form-label required' %>
            <%= f.text_field :title, autofocus: true, class: 'form-control' %>
          </div>
          <div class='mb-3 row'>
            <%= f.label :content, '口コミ内容', class: 'col-sm-2 col-form-label required' %>
            <%= f.text_field :content, autofocus: true, class: 'form-control form_height' %>
          </div>
          <%= f.submit '口コミを投稿する', class: 'w-100 btn btn-lg btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= include_gon %>
<%= javascript_pack_tag 'map' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
