<%= content_for(:title, 'TOP') %>

<div class='top_page'>
  <p class='top_title'>登山へ行こう！</p>
</div>

<div class='container marketing'>
  <div class='row home_1'>
    <div class='col-lg-4'>
      <div class='top_1 image_circle'></div>
      <h2 class='top_three'>よくあるご質問</h2>
      <p>お問合せの前にまずはこちらを</br>
        ご確認ください。
      </p>
      <p><%= link_to 'View details »', faq_index_path, class: 'btn btn-secondary' %></p>
    </div>

    <div class='col-lg-4 home_2'>
      <div class='top_2 image_circle'></div>
      <h2 class='top_three'>山を探そう！</h2>
      <p>都道府県・地域毎に山を表示しています。</br>
        近くの山を探してみよう！
      </p>
      <p><%= link_to 'View details »', mountains_path, class: 'btn btn-secondary' %></p>
    </div>

    <div class='col-lg-4 home_3'>
      <div class='top_3 image_circle'></div>
      <h2 class='top_three'>山の追加希望</h2>
      <p>このサイトにまだ載っていない山の</br>
        追加希望をお待ちしております。
      </p>
      <p><%= link_to 'View details »', contact_index_path, class: 'btn btn-secondary' %></p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class='featurette-divider'>

  <div class='row featurette'>
    <div class='col-md-7'>
      <h2 class='featurette-heading fw-normal lh-1'>登山のメリット</h2>
      <p class='lead'>
        登山は時間をかけて山道を歩き続ける有酸素運動になります。また、登り下りのある山道なので足腰の筋力を鍛える筋力トレーニングの効果もあります。石や岩がある自然の道を歩く際にはバランスを保つ力も大切になります。
        精神面でも自然の中を歩いたり、きれいな景色を見ることでリラックス効果があります。心身ともに健康にとてもよい効果があるといえます。
      </p>
    </div>
    <div class='col-md-5'>
      <%= image_pack_tag 'javascript/images/top_merit.jpg', size: '500x334', alt: '女性が登山している画像' %>
    </div>
  </div>

  <hr class='featurette-divider'>

  <div class='row featurette'>
    <div class='col-md-7 order-md-2'>
      <h2 class='featurette-heading fw-normal lh-1'>登山をする際の注意事項</h2>
      <p class='lead'>
        1.迷子</br>
        &emsp;GPSや地図アプリ、コンパス等を使用して、こまめに現在地を確認しましょう。</br>
        2.体温調節</br>
        &emsp;暑くも寒くもない格好を心がけましょう。脱ぎ着しやすい服がBest！</br>
        3.適度な休憩</br>
        &emsp;休憩しすぎると、体を冷やしすぎてしまうことも、、</br>
        &emsp;休まなくても無理のないペースが良いと言われています。</br>
        4.エネルギー源・水分補給</br>
        &emsp;こまめな補給を心がけましょう。</br>
        5.無理はしない！</br>
        &emsp;天候の悪化や体調不良等があった際は、無理をせずに下山しましょう。</br>
        詳細は<%= link_to 'こちらのサイト', 'https://yamap.com/magazine/2474', class: '' %>へ！
      </p>
    </div>
    <div class='col-md-5 order-md-1'>
      <%= image_pack_tag 'top_maigo.jpg', size: '500x334', alt: '子供が迷子の画像' %>
    </div>
  </div>

  <hr class='featurette-divider'>

  <div class='row featurette'>
    <div class='col-md-7'>
      <h2 class='featurette-heading fw-normal lh-1'>もしものために<span class='text-muted'>〜登山保険〜</span></h2>
      <p class='lead'>
      もし、遭難した場合、捜索費用が莫大になる可能性が、、！</br>
      様々な会社が日帰りタイプから年間タイプまで、登山保険を出しております。</br>
      <%= link_to 'こちらのサイト', 'https://yamahack.com/1204', class: '' %>で詳しくまとめられているので、登山へ行く際は登山保険の契約も忘れずに！
      </p>
    </div>
    <div class='col-md-5'>
      <%= image_pack_tag 'top_hoken.jpg', size: '500x334', alt: '山岳救助ヘリの画像' %>
    </div>
  </div>
</div>
