<header class='p-3 mb-3 border-bottom'>
  <div class='container'>
    <div class='d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start'>
      <%= link_to (image_tag 'TO_YAMA.png', size: '143x45'), root_path, class: 'd-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none' %>

      <ul class='nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header_ul'>
        <li><%= link_to 'TOP', root_path, class: 'nav-link px-2 link-dark' %></li>
        <li><%= link_to '山を探す', mountains_path, class: 'nav-link px-2 link-dark' %></li>
        <% if user_signed_in? && current_user.admin == true %>
          <li><%= link_to '管理者ページ', '/admin', class: 'nav-link px-2 link-dark' %></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class='dropdown text-end'>
          <% if current_user.icon? %>
            <%= image_tag current_user.icon.thumb.url, size: '45x45', alt: 'icon' %>
          <% else %>
            <%= link_to (image_tag 'icon.png', size: '45x45', class: 'rounded-circle', alt: 'icon'), root_path, class: 'd-block link-dark text-decoration-none dropdown-toggle', 'data-bs-toggle': :dropdown, 'aria-expanded': :false %>
          <% end %>
          <ul class='dropdown-menu text-small' style=''>
            <li><%= link_to 'アカウント編集', edit_user_registration_path(current_user), class: 'dropdown-item' %></li>
            <li><%= link_to '口コミ履歴', comments_path, class: 'dropdown-item' %></li>
            <li><hr class='dropdown-divider'></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </div>
      <% else %>
        <div>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-success' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-secondary' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
